.m4-level{
 color:#9b2426;
 font-weight: bold;
 font-size: 20px;
}

.m4-txt-level{
 color: #230554;
 font-size: 18px;
}

label{
    font-weight: bold;
}

.note-para{
    font-size: 16px;
}

.flex-choose{
    display: flex;
    justify-content: center;
}

.submit-btn{
    border: 0px;
    width: 100px;
    height: 40px;
    background-color: #9b2426;
    color: #ffffff;
    border-radius: 10px;
}

.submit-btn-flex{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.border-style-img{
    border-style: dashed;
    width: 200px;
    height: 200px;
    color: #a7a7a7;
    display: flex;
    justify-content: center;
    margin-left: 10px;
  
}

.display-border-style{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.kycdapp-plus-Img{
    width: 100px;
    height: 100px;
    margin-top: 40px;
}






