.kycdapp-Img{
    width: 38%;
    height: 90px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: #ffffff !important;
}
.header-bgd-color{
    background-color: #230554;
    height: 150px;
}
.dropdown-item{
    font-size: 14px;
    color: #230554 !important;
}
.drop-flex-img{
    display: flex;
}
.drop-img-kyc{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.navbar{
    z-index: 11111;
}

.nav-link.bgd-color-nav{
 background-color: #9b2426;
 border-radius: 8px;
 margin-left: 15px;
}