.left-sec-Img{
    width: 100%;
    height: 480px;
}
.kyc-section1-bgd{
    background-color: #981d1f;
    margin-top: 15%;
}
.kyc-section2-bgd{
    background-color: #981d1f;
    margin-top: 20px;
}
.right-sec-Img{
    width: 100%;
    height: 480px;
}
.mb-2-h3-font{
    color: #ffffff;
}
.inner-sec-txt{
    color: #ffffff;
}
.opacity-txt-para{
    color: #ffffff;
}
.color--primary{
    color: #981d1f; 
    font-weight: bold;
}
.mb-3-head{
    text-align: center;
    font-weight: bold;
}
.mb-4-para{
    color: #7C7D8D;
    justify-content: center;
    text-align: center;
}
.fr-section{
border: 1px solid #a7a7aa;
padding: 10px;
height: 240px;
border-radius: 10px;
margin-bottom: 20px;
margin-top: 20px;
}

.h5-font-mb{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.four-wrapper{
    background-color: #ffffff;  
}